<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/css/intro.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navigation-wrap bg-light start-header start-style">
		<div class="container-1">
            <div class="logo-wrapper">
                <a class="team-icon" href="#">
                    <img src="/static/imgs/icon.jpg" alt="Luffy">
                </a>
                <h3>Senti<span>meter</span></h3>
            </div>
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="homepage.html">Home</a>
								</li>
								<!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="#">Sentiment Analysis</a>
								</li> -->
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
									<a class="nav-link" href="intro.html">About Me</a>
								</li>
							
							</ul>
						</div>
						
					</nav>		
				</div>
			</div>
		</div>
	</div>
    <div class="intro-container">
        <section class="sec-01">
            <div class="container" >
                <div class="top animate-charcter">
                    Welcome To Our Project
                </div>
                <!-- <h2 class="main-title"></h2> -->
                <div class="content">
                    <div class="image">
                        <img src='/static/imgs/image1.jpg' width="800" height="389" alt="jpg">
                    </div>
                    <div class="text-box">
                        <h3>Introduction</h3>
                        <p>Sentiment analysis has grown in significance in today's industry and society since it enables companies to better understand consumer preferences, forecast market trends, and enhance their offerings. service according on customer input. It helps to make informed judgments and extract useful information from natural language data, and it has broad applications in social media monitoring, public opinion management, and marketing.</p>
                    </div>
                </div>
            </div>
    
        </section>
        <section class="sec-02">
            <div class="container">
                <div class="top animate-charcter">
                    Statistical & Data
                </div>
                <div class="content">
                    <div class="image">
                        <img src="/static/imgs/chart.jpg" alt="jpg">
                    </div>
                    <div class="info">
                        <h4 class="info-title">Description</h4>
                        <p>Not only predict sentiment through a sentence, or a very complex sentence, our model can predict sentiment of many sentences. That's right, we can predict sentiment through dataset, return chart so that can easy to compile the data.</p>
    
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-03">
            <div class="container">
                <div class="top animate-charcter">
                    Group Members
                </div>
                <div class="card-content">
                    <div class="card">
                        <div class="card-image"><img src="/static/imgs/ava1.jpg" alt=""></div>
                        <div class="card-info">
                            <h3>Vo Thanh Bang</h3>
                            <p>Leader</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image"><img src="/static/imgs/PHD1.jpg" alt=""></div>
                        <div class="card-info">
                            <h3>Phung Hai Dang</h3>
                            <p>Training Model</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image"><img src="/static/imgs/ava1.jpg" alt=""></div>
                        <div class="card-info">
                            <h3>Nguyen Khac Anh Duc</h3>
                            <p>Data Pre-processing</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image"><img src="/static/imgs/ava2.jpg" alt=""></div>
                        <div class="card-info">
                            <h3>Nguyen Hoang Anh</h3>
                            <p>UI design</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image"><img src="/static/imgs/ava1.jpg" alt=""></div>
                        <div class="card-info">
                            <h3>Nguyen Van Thanh Thong</h3>
                            <p>UI design</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image"><img src="/static/imgs/ava3.jpg" alt=""></div>
                        <div class="card-info">
                            <h3>Nguyen Hai Long</h3>
                            <p>UI design</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image"><img src="/static/imgs/CKV1.jpg" alt=""></div>
                        <div class="card-info">
                            <h3>Cao Khanh Vy</h3>
                            <p>UI design
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image"><img src="/static/imgs/HND.jpg" alt=""></div>
                        <div class="card-info">
                            <h3>Hoang Ngoc Dung</h3>
                            <p>UI design
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image"><img src="/static/imgs/ava1.jpg" alt=""></div>
                        <div class="card-info">
                            <h3>Tran Duyen Hong Minh</h3>
                            <p>Data</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image"><img src="/static/imgs/ava1.jpg" alt=""></div>
                        <div class="card-info">
                            <h3>Tran Trong Tin</h3>
                            <p>Data</p>
                        </div>
                    </div>
                    
                </div>
                <div class="pagination">
                    <li class="page-item previous-page disable"><a class="" >Prev</a></li>
                    <li class="page-item current-page active"><a class="" >1</a></li>
                    <li class="page-item dots"><a class="" >...</a></li>
                    <li class="page-item current-page"><a class="" >3</a></li>
                    <li class="page-item next-page"><a class="" >Next</a></li>
                </div>
            </div>
    
        </section>
    </div>


    
</body>

<footer class="footer-distributed">
    <div class="footer-left">

        <h3>Senti<span>meter</span></h3>

        <p class="footer-links">
            <a href="#">Blog</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name"></p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>
    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p>FPT Quy Nhon University</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>03491341314</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="">anhnh.t1.1821@gmail.com</a></p>
        </div>

    </div>
    <div class="footer-right">

        <p>Contact Us</p>

        <form action="#" method="post">

            <input type="text" name="email" placeholder="Email">
            <textarea name="message" placeholder="Message"></textarea>
            <button>Send</button>

        </form>

    </div>


</footer>

<script src="JS_Script/intro.js"></script>

</html>
